.heroes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -50px;
}

.heroes__item {
  margin-top: 50px;
  box-shadow: 0 10px 10px 0 #cccccc;
}

.heroes__content {
  padding: 20px 10px;
}

.heroes__name {
  margin-bottom: 10px;
}

.heroes__biography-item {
  line-height: 1.4;
}
